<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="Rainbow" connectionString="Data Source=SANYI\SANYISQL2017;Initial Catalog=Rainbow;Integrated Security=True" />
    <add name="Shop" connectionString="Data Source=SANYI\SANYISQL2017;User ID=User;Password=User123Qwe.;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
